.feedbackButton button .fSpan{
    position: relative;
    z-index: 2;
}
  
.feedbackButton button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E29303;
    transition: all .35s;
}
  
.feedbackButton button:hover, .feedbackButton button:focus {
    color: #fff;
    transition: all .35s;
}
  
.feedbackButton button:hover:after, .feedbackButton button:focus:after{
    width: 100%;
}

.collapseProd {
    background-color: #252525;
    transition: all 0.3s;
    width: 100%; display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 2% 0 2% 0; 
    background: #252525; 
    color: white;
    transition: all .35s;
}


.collapseProd:hover {
    background-color: #E29303;
    color: black;
    transition: all 0.3s;
}

.collapseProd:not(.collapsed) {
    background-color: #E29303;
    color: black;
    transition: all 0.3s;
}

.fa-solid {
    color: #000;
    background: none;
    padding: 0;
    border-radius: 50%;
    font-size: 35px;
}

/* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты */

@media only screen and (max-width: 360px) {
    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .contactContent {
        margin-top: 0.5rem;
        width: 95%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 12px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: row;
    }
    
    .contactBodyText {
        margin-bottom: 0.5rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 11px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 9px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:center;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 10px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 11px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 11px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 2px 3px;
        font-size: 9px;
        font-weight: 400;
        line-height: 0.6;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 80px;
        height: 30px;
        color: white;
        line-height: 20px;
        font-size: 11px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 1px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }

}

@media only screen and (min-width: 361px) {
    
    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .contactContent {
        margin-top: 0.5rem;
        width: 95%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: row;
    }
    
    .contactBodyText {
        margin-bottom: 0.5rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 13px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 11px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:center;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 12px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 13px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 13px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 2px 3px;
        font-size: 11px;
        font-weight: 400;
        line-height: 0.7;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 80px;
        height: 30px;
        color: white;
        line-height: 20px;
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 1px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 450px) {

    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .contactContent {
        margin-top: 0.5rem;
        width: 95%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 15px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: row;
    }
    
    .contactBodyText {
        margin-bottom: 0.5rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 14px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 12px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:center;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 13px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 13px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 3px 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 0.8;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 100px;
        height: 30px;
        color: white;
        line-height: 20px;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 1px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 768px) {
    
    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .contactContent {
        margin-top: 0.5rem;
        width: 95%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 18px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: row;
    }
    
    .contactBodyText {
        margin-bottom: 0.5rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 16px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 14px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:center;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 15px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 18px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 15px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 4px 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 100px;
        height: 30px;
        color: white;
        line-height: 20px;
        font-size: 16px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 1px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 1024px) {
    
    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    
    .contactContent {
        margin-top: 0.5rem;
        width: 95%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 21px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: row;
    }
    
    .contactBodyText {
        margin-bottom: 0.5rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 19px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 17px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:center;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 18px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 21px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 5%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 48%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 18px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 5px 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 120px;
        height: 40px;
        color: white;
        line-height: 20px;
        font-size: 19px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 1px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 1280px) {
    
    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    
    .contactContent {
        margin-top: 2rem;
        width: 47.5%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 30px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 20%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: column;
    }
    
    .contactBodyText {
        margin-bottom: 3rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 26px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 24px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:start;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 22px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 30px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 15%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 18px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 5px 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 2px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 120px;
        height: 40px;
        color: white;
        line-height: 20px;
        font-size: 19px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 2px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 1680px) {

    .contactContainer {
        height: 93vh; 
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    
    .contactContent {
        margin-top: 3rem;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 40px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 20%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: column;
    }
    
    .contactBodyText {
        margin-bottom: 3rem;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 35px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 25px; 
        color: black;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 24px; 
        text-align:center
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 40px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 15%;
    }
    
    .feedbackBody {
        margin-bottom: 1rem;
    }
    
    .feedbackBody1 {
        margin-bottom: 1rem;
    }
    
    .feedbackBody2 {
        margin-bottom: 1rem;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 25px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 2px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 200px;
        height: 50px;
        color: white;
        line-height: 40px;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 2px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

@media only screen and (min-width: 1920px) {

    .contactContainer {
        width: 95%; 
        margin-left: 2.5%;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around;
        padding-bottom: 3rem;
    }
    
    .contactContent {
        margin-top: 3rem;
        width: 47.5%;
    }
    
    .contactHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 45px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 25%;
    }
    
    .contactBody {
        display: flex; 
        flex-direction: column;
        margin-bottom: 20%;
    }
    
    .contactBodyText {
        margin-bottom: 3rem;
        width: 80%;
    }
    
    .contactBodyH {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 400; 
        font-size: 40px; 
        color: black;
    }
    
    .contactBodyP {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 35px; 
        color: black;
    }

    .contactBodyLinks {
        text-align:start;
    }
    
    .contactBodyLink {
        color: #E29303; 
        font-family: 'Work Sans', sans-serif; 
        font-weight: 700; 
        font-size: 37px; 
        text-align:center;
    }
    
    .feedbackHeader {
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 45px; 
        font-weight: 900; 
        color: black; 
        margin: 0; 
        margin-bottom: 20%;
    }
    
    .feedbackBody {
        margin-bottom: 3rem;
    }

    .feedmackBodyContainer1 {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .feedbackBody1 {
        margin-bottom: 3rem;
        width: 100%;
    }
    
    .feedbackBody2 {
        margin-bottom: 3rem;
        width: 100%;
    }
    
    .feedbackLabel {
        font-family: 'Work Sans', sans-serif; 
        font-weight: 300; 
        font-size: 35px; 
        color: black;
    }
    
    .feedbackButton {
        width: 100%; 
        display: flex; 
        justify-content: center;
    }
    
    .formControl {
        display: block;
        width: 100%;
        padding: 8px 10px;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: rgb(255,255,255,0);
        background-clip: padding-box;
        border: 2px solid black;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    
    .feedbackButton button{
        display: block;
        width: 250px;
        height: 80px;
        color: white;
        line-height: 20px;
        font-size: 35px;
        font-family: 'Work Sans', sans-serif;
        text-decoration: none;
        background-color: rgb(0,0,0,0);
        color: #E29303;
        border: 2px solid #E29303;
        text-align: center;
        position: relative;
        transition: all .35s;
    }
    
    .formControl:focus {
        color: #E29303;
        border-color: #E29303;
        outline: 0;
    }
      
    .feedbackButton button .fSpan{
        position: relative;
        z-index: 2;
    }
      
    .feedbackButton button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #E29303;
        transition: all .35s;
    }
      
    .feedbackButton button:hover, .feedbackButton button:focus {
        color: #fff;
        transition: all .35s;
    }
      
    .feedbackButton button:hover:after, .feedbackButton button:focus:after{
        width: 100%;
    }
    
}

/* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты *//* Контакты */

/* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория */

@media only screen and (max-width: 360px) {

    .articlesTop {
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 9px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 9px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 10px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 1rem;
    }
    
    .articlesList {
        margin-bottom: 0.25rem;
    }
    
    .articlesProduct {
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 10px; 
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .articleFooter {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 8px;
    }

    .fa-angle-right {
        font-size: 8px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: column;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 40%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 361px) {

    .articlesTop {
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 10px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 10px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 11px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 1rem;
    }
    
    .articlesList {
        margin-bottom: 0.25rem;
    }
    
    .articlesProduct {
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 11px; 
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .articleFooter {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 8px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 8px;
    }

    .fa-angle-right {
        font-size: 8px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: column;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 40%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 450px) {

    .articlesTop {
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 12px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 12px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 14px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 1rem;
    }
    
    .articlesList {
        margin-bottom: 0.25rem;
    }
    
    .articlesProduct {
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .articleFooter {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 9px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 9px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 9px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 9px;
    }

    .fa-angle-right {
        font-size: 9px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: column;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 40%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 786px) {

    .articlesTop {
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 14px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 14px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 16px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 1rem;
    }
    
    .articlesList {
        margin-bottom: 0.25rem;
    }
    
    .articlesProduct {
        padding-bottom: 1rem;
        padding-top: 1rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 16px; 
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .articleFooter {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 12px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 12px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 12px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 12px;
    }

    .fa-angle-right {
        font-size: 12px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: row;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 22%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 1024px) {

    .articlesTop {
        margin-bottom: 2rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 16px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 16px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 2rem;
    }
    
    .articlesList {
        margin-bottom: 0.5rem;
    }
    
    .articlesProduct {
        padding-bottom: 2rem;
        padding-top: 2rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 18px; 
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .articleFooter {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 14px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 14px;
    }

    .fa-angle-right {
        font-size: 14px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: row;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 22%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 1280px) {

    .articlesTop {
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 21px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 21px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 24px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 3rem;
    }
    
    .articlesList {
        margin-bottom: 1rem;
    }
    
    .articlesProduct {
        padding-bottom: 3rem;
        padding-top: 3rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 24px; 
        font-weight: 500;
        margin-bottom: 3rem;
    }

    .articleFooter {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 21px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 21px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 21px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 21px;
    }

    .fa-angle-right {
        font-size: 21px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: row;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 22%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 1920px) {

    .articlesTop {
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 24px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 24px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 26px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 3rem;
    }
    
    .articlesList {
        margin-bottom: 1rem;
    }
    
    .articlesProduct {
        padding-bottom: 3rem;
        padding-top: 3rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 26px; 
        font-weight: 500;
        margin-bottom: 3rem;
    }

    .articleFooter {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 24px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 24px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 24px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 24px;
    }

    .fa-angle-right {
        font-size: 24px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: row;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 22%; 
        flex-direction: column;
    }

}

@media only screen and (min-width: 2560px) {

    .articlesTop {
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 28px; 
        font-weight: 400
    }
    
    .articlesCenter {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif; 
        font-size: 28px; 
        font-weight: 400
    }
    
    .articlesBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 32px; 
        font-weight: 600; 
        text-align: center;
    }
    
    .articlesText {
        margin-bottom: 3rem;
    }
    
    .articlesList {
        margin-bottom: 1rem;
    }
    
    .articlesProduct {
        padding-bottom: 3rem;
        padding-top: 3rem;
        background-color: #252525;
    }
    
    .articlesProductHeader {
        color: #fff; 
        width: 95%; 
        margin-left: 2.5%; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 32px; 
        font-weight: 500;
        margin-bottom: 3rem;
    }

    .articleFooter {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .articleFooterPrev {
        color: #000 !important; 
        background: none !important; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 26px; 
        font-weight: 600;
    }

    .articleFooterMain {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 26px; 
        font-weight: 600;
    }

    .articleFooterNext {
        color: #000; 
        font-family: 'TT Travels Next Trial Variable', sans-serif; 
        font-size: 26px; 
        font-weight: 600;
    }

    .fa-angle-left {
        font-size: 26px;
    }

    .fa-angle-right {
        font-size: 26px;
    }

    .articleProdBodyContainer {
        margin-top: 1rem;
        display: flex; 
        width: 95%; 
        margin-left: 2.5%;
        flex-direction: row;
    }

    .articleProdCardBody {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
        width: 100%;
    }

    .articleCardProd {
        display: flex; 
        width: 22%; 
        flex-direction: column;
    }

}

/* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория *//* О смазках категория */

/* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности */

@media only screen and (max-width: 360px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 1rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 1rem;
        font-size: 12px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 0.5rem;
        font-size: 10px;
    }
    
    .privacyContentFotter {
        font-size: 10px;
    }
    
    .privacyContentBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .privacyContentList {
        margin-bottom: 0.25rem;
        font-size: 10px;
    }

}

@media only screen and (min-width: 361px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 1rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 1rem;
        font-size: 14px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 0.5rem;
        font-size: 12px;
    }
    
    .privacyContentFotter {
        font-size: 12px;
    }
    
    .privacyContentBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .privacyContentList {
        margin-bottom: 0.25rem;
        font-size: 12px;
    }

}

@media only screen and (min-width: 450px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 1rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 1rem;
        font-size: 18px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 0.5rem;
        font-size: 14px;
    }
    
    .privacyContentFotter {
        font-size: 14px;
    }
    
    .privacyContentBottom {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .privacyContentList {
        margin-bottom: 0.25rem;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1024px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 2rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 2rem;
        font-size: 18px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 1rem;
        font-size: 14px;
    }
    
    .privacyContentFotter {
        font-size: 14px;
    }
    
    .privacyContentBottom {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .privacyContentList {
        margin-bottom: 0.5rem;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1280px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 3rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 3rem;
        font-size: 32px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 2rem;
        font-size: 21px;
    }
    
    .privacyContentFotter {
        font-size: 21px;
    }
    
    .privacyContentBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .privacyContentList {
        margin-bottom: 1rem;
        font-size: 21px;
    }

}

@media only screen and (min-width: 1920px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 3rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 3rem;
        font-size: 34px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 2rem;
        font-size: 24px;
    }
    
    .privacyContentFotter {
        font-size: 24px;
    }
    
    .privacyContentBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .privacyContentList {
        margin-bottom: 1rem;
        font-size: 24px;
    }

}

@media only screen and (min-width: 2560px) {

    .privacyContainer {
        width: 90%; 
        margin-left: 5%; 
        text-align: justify; 
        font-family: 'Work Sans', sans-serif;
    }
    
    .privacyContent {
        margin-top: 3rem;
    }
    
    .privacyContentHeader {
        margin-bottom: 3rem;
        font-size: 42px; 
        font-weight:600; 
        margin-left: 5%
    }
    
    .privacyContentBody {
        margin-bottom: 2rem;
        font-size: 30px;
    }
    
    .privacyContentFotter {
        font-size: 30px;
    }
    
    .privacyContentBottom {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .privacyContentList {
        margin-bottom: 1rem;
        font-size: 30px;
    }

}

/* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности *//* Политика конфиденциальности */