* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
A:focus,a:active{outline: none;}

nav,footer,header,aside{display: block};

html,body{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: auto;
}

hr{
    margin: 0.5rem !important;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button:-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 500;}

a {
  text-decoration: none;
  color: black;
}

body {
    overflow-x: hidden;
}

.mainProdText {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.nLink {
    color: white;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.nLink:hover {
    color: #FDAD1C !important;
    transition: color 0.3s ease-in-out;
}
  
.nLink::after {
    border: none;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FDAD1C;
    transition: width 0.3s;
}

.nLink:hover::after {
    border: none;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #FDAD1C;
    transition: width 0.3s;
}

.formControl {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(255,255,255,0);
    background-clip: padding-box;
    border: 2px solid white;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.formControl:focus {
    color: #FDAD1C;
    border-color: #FDAD1C;
    outline: 0;
}

button{
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    line-height: 40px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    background-color: rgb(0,0,0,0);
    color: #FDAD1C;
    border: 2px solid #FDAD1C;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
button .fSpan{
    position: relative;
    z-index: 2;
}
  
button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FDAD1C;
    transition: all .35s;
}
  
button:hover, button:focus {
    color: #fff;
    transition: all .35s;
}
  
button:hover:after, button:focus:after{
    width: 100%;
}

.cardProd {
    .cardProdImg {
        transition: all 0.3s ease-in-out;
        border-radius: 0;
    }
/* 
    .cardProdImg img {
        width: 80%;
        transition: all 0.3s ease-in-out;
    } */
}

.cardProd:hover {
    .cardProdImg {
        border-radius: 5px;
        filter: blur(3px);
        transition: all 0.3s ease-in-out;
    }
/* 
    .cardProdImg img {
        width: 75%;
        transition: all 0.3s ease-in-out;
    } */
}

.statesLink {
    transition: background-color .3s ease-in-out;
}

.statesLink p {
    color: black;
    transition: color .275s ease-in-out
}

@media(hover: hover)and (pointer:fine) {
    .statesLink:hover {
        background-color: #252525;
    }

    .statesLink:hover p {
        color: #FDAD1C
    }
}

/* .work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* font-family: 'TT Travels Next Trial Variable', sans-serif; */