<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авиационные смазки</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/directory.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/tt-travels-next-trl" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="{% static "img/logoIcon32.png" %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static "img/logoIcon256.png" %}" rel="apple-touch-icon">
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap/popper.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/10bf1f9c8a.js" crossorigin="anonymous"></script>
    <script>
        window.onload = function() {
            document.querySelector('html').classList.add('loaded');
          };
    </script>
</head>

<body>
    <div class="loaderContainer">
        <img class="loaderCircle" src="{% static "img/loaderCircle.svg" %}">
        <img class="loaderLogo" src="{% static "img/loaderLogo.png" %}">
    </div>
    <div class="transitionContainer"></div>
    <nav class="navbar sticky-top">
        <div class="container-fluid">
            <div class="navbarContent">
                <a href="{% url "home" %}" class="navbar-brand navLogo transitionLink"><img src="{% static "img/logo.png" %}"></a>
                <a href="{% url "catalog" %}" class="nav-link nLink navLinks transitionLink">Каталог</a>
                <a href="{% url "production" %}" class="nav-link nLink nLinks transitionLink">Производство</a>
                <a href="{% url "directory" %}" class="nav-link nLink nLinks transitionLink">О смазках</a>
            </div>
            <div>
                <a href="{% url "map" %}" class="nav-link nLink nMap transitionLink">Как проехать</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="tipsHeader">
            <p class="tipsHeaderP">
                АВИАЦИОННЫЕ СМАЗКИ
            </p>
        </div>
        <div class="articlesTop">
            <p class="articlesText">Пластичные смазки для автомобилей могут изменять свою структуру в 
                зависимости от условий эксплуатации и внешней среды: переходить 
                из твердого состояния в жидкое и обратно. Они обладают высокой 
                устойчивостью к выдавливанию и создают высокопрочную пленку на 
                смазываемых узлах, повышая ресурс техники и снижая риск повреждений. 
                Их применяют для защиты деталей узлов и механизмов, в которых 
                невозможно использование жидких смазочных составов</p>
            <p>У нас можно подобрать пластичные смазки для автомобилей с учетом 
                конкретных задач и условий эксплуатации. Смазочные материалы 
                производства «Центр-Ойл» используются для шарниров, подшипников, 
                цепных приводов, канатов, тросов, закрытых и открытых передач, 
                шаровых опор и других деталей. Они защищают рабочие поверхности 
                механизмов от износа за счет существенного снижения силы трения</p>
        </div>
        <div class="articlesProduct">
            <p class="articlesProductHeader">Мы изготавливаем следующие виды авиационных смазок для подшипников</p>
            <div class="articleProdBodyContainer">
                <div class="prodCardBody">
                    <a href="/catalog/aviation/108" class="cardProd transitionLink">
                        <div class="cardProdImg">
                            <img src="{% static "img/jb.webp" %}" width="80%">
                        </div>
                        <div class="catalogCategoryInfo">
                            <p class="catalogCategoryName" style="color: white">ПРОДУКТ<br>
                            КАТЕГОРИЯ<br>
                            ОСТ</p>
                            <p class="catalogCategoryText" style="color: white">№ 8<br>
                            Авиационная<br>
                            ОСТ 95.510-77</p>
                        </div>
                    </a>
                    <a href="/catalog/aviation/3" class="cardProd transitionLink">
                        <div class="cardProdImg">
                            <img src="{% static "img/jb.webp" %}" width="80%">
                        </div>
                        <div class="catalogCategoryInfo">
                            <p class="catalogCategoryName" style="color: white">ПРОДУКТ<br>
                            КАТЕГОРИЯ<br>
                            ТУ</p>
                            <p class="catalogCategoryText" style="color: white">№ 9<br>
                            Авиационная<br>
                            ТУ 38.001116-84</p>
                        </div>
                    </a>
                </div>
                <div class="prodCardBody">
                    <a href="/catalog/aviation/4" class="cardProd transitionLink">
                        <div class="cardProdImg">
                            <img src="{% static "img/jb.webp" %}" width="80%">
                        </div>
                        <div class="catalogCategoryInfo">
                            <p class="catalogCategoryName" style="color: white">ПРОДУКТ<br>
                            КАТЕГОРИЯ<br>
                            ТУ</p>
                            <p class="catalogCategoryText" style="color: white">ВНИИ НП-286М Эра<br>
                            Авиационная<br>
                            ТУ 38.101950-00</p>
                        </div>
                    </a>
                    <a href="/catalog/aviation/115" class="cardProd transitionLink">
                        <div class="cardProdImg">
                            <img src="{% static "img/jb.webp" %}" width="80%">
                        </div>
                        <div class="catalogCategoryInfo">
                            <p class="catalogCategoryName" style="color: white">ПРОДУКТ<br>
                            КАТЕГОРИЯ<br>
                            ТУ</p>
                            <p class="catalogCategoryText" style="color: white">ВНИИ НП 254 (Атланта)<br>
                            Авиационная<br>
                            ТУ 38.1011048-85</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="prodFooter">
                <a href="{% url "catalog" %}" class="nLink transitionLink">
                    Ознакомиться с каталогом
                </a>
            </div>
        </div>
        <div class="articlesCenter">
            <b class="articlesText">Применение</b>
            <p class="articlesText">Специальные авиационные смазки используются для смазывания 
                разных видов подшипников — скольжения и качения, конических 
                и роликовых ступичных элементов, зубчатых передач систем 
                управления, обработки игольчатых подшипников и винтовых 
                систем. Они обеспечивают надежную защиту металлов, находящихся 
                на открытом воздухе и на складах, в том числе в экстремальных 
                и приближенных к ним условиях. Смазки в узлах трения предотвращают 
                истирание и износ деталей</p>
            <p>Наша компания выпускает авиационные смазки для подшипников, 
                соответствующие требованиям ГОСТ и ТУ, а также жестким требованиям, 
                установленным производителями авиатехники. Они изготавливаются 
                из высококачественных основ с добавлением технологичных присадок 
                и охватывают широкий температурный диапазон эксплуатации. 
                Все предлагаемые составы проявляют заявленные противозадирные, 
                смазывающие и противоизносные свойства, обеспечивают длительное 
                антикоррозионное действие, устойчивы к авиатопливу, техническим 
                нефтепродуктам и окислителям</p>
            <p class="articlesBottom">Мы отгружаем смазочные материалы во все регионы России и страны Таможенного союза. 
                Также возможен самовывоз со склада готовой продукции. Стоимость зависит 
                от объема партии, срочности изготовления, марки и состава смазки</p>
        </div>
        <div class="contactContainer">
            <div class="col-lg-5 col-sm-12 contactContent">
                <h2 class="contactHeader">
                    Контакты
                </h2>
                <div class="contactBody">
                    <div class="contactBodyText">
                        <h3 class="contactBodyH">
                            Менеджер отдела продаж
                        </h3>
                        <p class="contactBodyP">
                            Егор Сташков<br>
                            evc1@mail.ru
                        </p>
                    </div>
                    <div class="contactBodyText">
                        <h3 class="contactBodyH">
                            Адрес
                        </h3>
                        <p class="contactBodyP">
                            Свердловская область<br>
                            г. Полевской, с. Курганово, стр. 2 Лит. 6<br>
                            623376
                        </p>
                    </div>
                </div>
                <div class="contactBodyLinks">
                    <a class="nLink contactBodyLink transitionLink" href="{% url "map" %}">
                        Ознакомиться с картой
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 contactContent">
                <h2 class="feedbackHeader">
                    Обратная связь
                </h2>
                {% include 'contact.html' with form=form %}
            </div>
        </div>
        <div class="articleFooter" style="width: 95%; margin-left: 2.5%; display: flex; flex-direction: row; justify-content: space-between;">
            <a href="{% url "auto" %}" class="nLink articleFooterPrev transitionLink"><i class="fa-solid fa-angle-left"></i> Автомобильные смазки</a>
            <a href="{% url "directory" %}" class="nLink articleFooterMain transitionLink">О смазках</a>
            <a href="{% url "cable" %}" class="nLink articleFooterNext transitionLink">Канатные смазки <i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="footerContainer">
            <div class="footerBody">
                <div class="footerBodyCompany">
                    <p class="footerBodyCompanyCopy">© 2024 ООО “Центр-Ойл”<br>
                        Продажа пластичных смазок<br>
                        Все права защищены
                    </p>
                    <p class="footerBodyCompanyTime">
                        Время работы:<br>
                        пн-пт с 9:00 до 17:00
                    </p>
                    <p class="footerBodyCompanyMail">
                        evc1@mail.ru<br>
                    </p>
                </div>
                <div class="footerBodyNav">
                    <a href="{% url "catalog" %}" class="footerBodyNavMainLink transitionLink">Каталог</a>
                    <a href="{% url "production" %}" class="footerBodyNavLink transitionLink">Производство</a>
                    <a href="{% url "directory" %}" class="footerBodyNavLink transitionLink">О смазках</a>
                    <a href="{% url "map" %}" class="footerBodyNavMainLink2 transitionLink">Как проехать</a>
                </div>
                <div class="footerBodyDocs">
                    <a href="{% url "privacy" %}" class="footerBodyDoscMain transitionLink">Политика конфиденциальности</a>
                    <a href="{% static "docs/pricelist.xls" %}" class="footerBodyDocsPrimary">Перечень пластичных смазок</a>
                </div>
                <div>
                    <a href="https://v0lmer.xyz" class="footerBodyMade transitionLink">Made by: V0lmer</a>
                </div>
            </div>
            <div class="footerBodyNotice">
                <p class="footerBodyNoticeText">
                    Обращаем Ваше внимание на то, что данный интернет-сайт 
                    носит исключительно информационный характер и ни при 
                    каких условиях информационные материалы и цены, размещенные 
                    на сайте, не являются публичной офертой, определяемой 
                    положениями Статьи 437 Гражданского кодекса РФ
                </p>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
<script>
    window.addEventListener('pageshow', function() {
        const transitionContainer = document.querySelector('.transitionContainer');
        transitionContainer.classList.remove('active');
        sessionStorage.removeItem('transitionActive');
    });

    document.querySelectorAll('.transitionLink').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const transitionContainer = document.querySelector('.transitionContainer');
            transitionContainer.classList.add('active');
            
            const linkHref = event.currentTarget.href;
            
            sessionStorage.setItem('transitionActive', 'true');
            
            setTimeout(function() {
                window.location.href = linkHref;
            }, 1000);
        });
    });
</script>
</body>

</html>